menu "SIM68MD"

    config SIM68MD_SYNC_TIME
        bool "Enable sync time."
        default y
        help
            Установка системного времени из данных GPS.

    choice
        prompt "Choose Power down Version"
        default SIM68MD_PD_1
        help
            Выберите версию выключения GPS.

        config SIM68MD_PD_1
            bool "SIM68MD_PD_1"
            help
                Версия $PAIR.

        config SIM68MD_PD_2
            bool "SIM68MD_PD_2"
            help
                Версия $PMTK161
    endchoice
                                                       
endmenu
